<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lite6">
  <material name="White"><color rgba="0.9 0.9 0.9 1"/></material>
  <material name="Silver"><color rgba="0.7 0.7 0.7 1"/></material>

  <!-- Standard-Macros -->
  <xacro:include filename="$(find xarm_description)/urdf/common/common.link.xacro"/>
  <xacro:include filename="$(find xarm_description)/urdf/common/common.material.xacro"/>
  <xacro:include filename="$(find xarm_description)/urdf/xarm_device_macro.xacro"/>
  <xacro:include filename="$(find xarm_description)/urdf/lite6/lite6_robot_macro.xacro"/>
  <!-- Dein vorhandenes Gripper-Macro -->
  <xacro:include filename="$(find xarm_description)/urdf/gripper/lite_gripper.urdf.xacro"/> 
  <xacro:include filename="$(find xarm_description)/urdf/gripper/gripper_actuated.xacro"/>


  <!-- Properties, die die common-Macros erwarten -->
  <xacro:property name="mesh_path" value="package://xarm_description/meshes"/>
  <xacro:property name="mesh_suffix" value="stl"/>
  <xacro:property name="is_ros2" value="true"/>
  <xacro:property name="use_xacro_load_yaml" value="true"/>

  <xacro:arg name="KIN_YAML" default="/home/pikachu/ws/lite6_ws/install/xarm_description/share/xarm_description/config/kinematics/default/lite6_default_kinematics.yaml"/>
  <!-- INERTIAL_YAML = NUR Basename OHNE .yaml (Macro hängt Pfad+Suffix an) -->
  <xacro:arg name="INERTIAL_YAML" default="xarm6_type9_HT_BR2"/>

  <!-- Roboter (Fake-HW via mock_components) -->
  <xacro:lite6_robot
      prefix=""
      model_num="0"
      velocity_control="false"
      hard_interface="ros2_control"
      ros2_control_plugin="mock_components/GenericSystem"
      kinematics_params_filename="$(arg KIN_YAML)"
      inertial_params_filename="$(arg INERTIAL_YAML)"/>

  <!-- Gripper fest an den TCP hängen -->
  <xacro:uflite_gripper_urdf
      prefix=""
      attach_to="link_eef"
      attach_xyz="0 0 0"
      attach_rpy="0 0 0"/>
      
  <xacro:add_actuated_parallel_fingers parent="uflite_gripper_link" prefix=""/>
  
  <!-- ros2_control: separates Fake-System für den Greifer-Finger -->
  <ros2_control name="gripper_system" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
      <!-- Optionen für GenericSystem sind in Jazzy permissiv;
           wir definieren explizit die Interfaces unten an der Joint-Section -->
    </hardware>

    <joint name="left_finger_joint">
      <command_interface name="position"/>
      <state_interface   name="position"/>
    </joint>
    <!-- right_finger_joint ist mimic -> keine eigenen Interfaces nötig -->
  </ros2_control>
</robot>

